/**********************
    Universal Styles
**********************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}


/**********************
    NavBar Styles
**********************/
.navbar{
    padding: 10px 10%;
}

.logo{
    width: 140px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/**link colours**/
nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 20px;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    background-color: #C0CE01;
}


/**********************
    Homepage Styles
**********************/
.containerimage{
    position: relative;
    text-align: center;
    color: white;
}

.welcometext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75px;
}

.welcomesubtext{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}


/**********************
    About Styles
**********************/
#grpabout{
    padding: 80px 0;
    color: #C0CE01;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 50%;
    border-radius: 50px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 23px;
    color: white;
}

.introtitle{
    font-size: 60px;
    font-weight: 600;
    color: #C0CE01;
}

.title{
    font-size: 30px;
    color: #C0CE01;
}

.membercontainer{
    display:flex;
    align-items: center;
}

.membername{
    font-size: 50px;
}

.memberinfo{
    border: 2px white solid;
    padding-left: 20px;
    font-size: 26px;
}


/**********************
    Updates/News Styles
**********************/
.updatetitle{
    font-size: 47px;
    color: #C0CE01;
}

.releaseupdate{
    font-size: 24px;
    padding: 10px;
}

.perfupdate h3{
    font-size: 24px;
    padding: 10px;
}

.perfupdate p{
    font-size: 17px;
    padding-left: 10px;
}

.articlelink{
    color: white;
}

.articlelink:hover{
    color:#C0CE01;
}

/**********************
    Discography Styles
**********************/
.discographytitle{
    color: white;
}

.albumdisco{
    color: white;
}


/**********************
    Shop Styles
**********************/
#shop{
    padding: 50px 0;
}

.shopmerch{
    font-size: 47px;
    color: #C0CE01;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.product-item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.product-item img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #C0CE01);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.product-item:hover img{
    transform: scale(1.1);
}

.product-item:hover .layer{
    height: 100%;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #C0CE01;
    background: white;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    
}


/**********************
    Footer Styles
**********************/
.footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    background: #3b3b38;
    font-weight: 300;
    margin-top: 20px;
    font-size: 25px;
}

.socials{
    color: white;
}

.socials:hover{
    color:#C0CE01;
}