/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




/*body content*/
body{
    background-color: black;
}

.navbar{
    background-color: #201F1E;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    top: 0px;
    cursor: pointer;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: sticky;
}
.pagenav{
    list-style: none;
    display: flex;
    color: white;
    justify-content: center;
    align-content: center ;
    text-decoration: none;
    padding: 10px;
}
.pagename{
    padding-left: 75px;
    padding-right: 75px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

/*link colours*/
a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: #DBDBDB;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #C0CE01;
    background-color: transparent;
    text-decoration: none;
}

/*homepage css*/
.containerimage{
    position: relative;
    text-align: center;
    color: white;
}
.welcometext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75px;
}
.welcomesubtext{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}

/*aboutpage css*/
.title{
    color: white;   
}
.wholegrpabout{
    color:white;
}
.aboutDreamimg{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}
.membername{
    color: white;
}
.membercontainer{
    display:flex;
    align-items: center;
}
.memberinfo{
    color: white;
    padding-left: 20px;
}
.footerabout{
    color: white;
}

/*discographypage css*/
.discographytitle{
    color: white;
}
.albumdisco{
    color: white;
}